.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems a {
    padding: 10px;
    color: greenyellow;
    text-decoration: none;
}

.dialogsItems .active {
    color: gold;
}


.messages {
    padding: 10px;
}

.message {
    color: white;
}
